/* i dont know, this needs to process last to overwrite the wrest... */


nav, .navbar, .navbar-static-top, .navbar-default {
  background-color: #7a2bb7;
}
nav {
  color: #fff;
}



.gravatar {
	margin-right:15px;
}